* {
  box-sizing: border-box;
}
.main-img {
  display: block;
  margin: 50px auto;
  max-width: 100%;
  border-radius: 20px;
}
.gallery {
  display: flex;
  flex-wrap: nowrap;
}
.card {
  margin: 16px;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}
.caption {
  line-height: 30px;
  text-align: center;
  text-transform: lowercase;
}
.opacity-img {
  filter: opacity(50%);
}
.blur-img {
  filter: blur(4px);
}
.invert-img {
  filter: invert(100%);
}
