@import 'breakpoints.scss';
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
}
.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #ff7f50;

  @include for-medium-down-screen {
    background-color: #8a2be2;
  }
  @include for-medium-up-screen {
    background-color: #a61;
  }
  @include for-large-screen {
    background-color: #c47;
  }
}
.container {
  @include landscape {
    flex-direction: row;
  }
}
