.section {
  margin: 32px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1 {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  line-height: 28px;
}
.termin {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  text-decoration: underline;
}
.link {
  text-decoration: none;
}
.translate {
  color: grey;
}
