.custom-btn {
  margin: 64px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: coral;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  cursor: pointer;
  border: none;
  line-height: 50px;
}
.custom-btn:hover {
  color: darkcyan;
}
.bird-svg {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
.custom-btn:hover > .bird-svg {
  fill: green;
}
