body {
  display: flex;
  width: 100vw;
}
.block {
  height: 300px;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100px;
}
.block_red {
  background-color: red;
}
.block_green {
  background-color: green;
}
.block_blue {
  background-color: blue;
}
.block_yellow {
  background-color: yellow;
}
.block_black {
  background-color: black;
}
