* {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
}
.spinner-text {
  animation: blinking 2s infinite linear;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.circle {
  left: 15px;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-right: 4px solid lightgray;
  border-bottom: 4px solid lightgray;
  border-left: 4px solid lightgray;
  border-top: 4px solid black;
  margin-bottom: 8px;
  animation: move 2s infinite;
}
@keyframes move {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
